<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- CDN LINKS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<style>
		.fixedc, .fluidc {
			background: purple;
			color: #FF0;
			text-align: center;
			padding-top: 150px;
			padding-bottom: 150px;
			margin-bottom: 2em;
		}

		.fluidc {
			background: salmon;
		}
	</style>
</head>
<body>
	<!-- bootstrap tutorial from https://www.quackit.com/bootstrap/bootstrap_4/tutorial/ -->
    <!-- FIXED CONTAINER -->
    <div class="container fixedc">
 		Fixed container
    </div>

    <!-- FLUID CONTAINER -->
    <div class="container-fluid fluidc">
		Fluid container
    </div>
</body>
</html>