<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Bootstrap and ExpressJS Simple Setup</title>

	<!-- CDN LINKS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<div>
			<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
					<li><a href="/product">Products</a></li>
					<li><a href="/about">About us</a></li>
					<li><a href="/bs-tutorial01">bs-tutorial01 Containers</a></li>
					<li><a href="/bs-tutorial02">bs-tutorial02 Grid System</a></li>
					<li><a href="/bs-tutorial03">bs-tutorial03 Typography</a></li>
				</ul>
			</nav>
		</div>
		<br />
		<div class="jumbotron">
			<p>This is the place to put your awesome sample content.</p>
		</div>
	</div>
</body>
</html>